@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        left: 0;
        top: -25%;
    }
}
@mixin before_circle_small {
    &:before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: $main-color;
        border-radius: 100%;
        top: 3px;
    }
}


