.promo {
    min-height: 100vh;
    padding-top: 120px;
    background: url('../img/IMG_20191023_141235.jpg') no-repeat 50%/cover;
    &__languages {
        position: absolute;
        top: 14px;
        right: 100px;
        &_link {
            font-size: 1.5rem;
            color: black;
            margin: 0.5rem;
            &.active {
               text-decoration-line: underline;
           }
        }
    }
    &__title {
        width: 530px;
        margin-left: 45px;
    }
    &__subtitle {
        @include before_circle;
        z-index: 2;
        position: relative;
        padding-left: 10px;
        margin-left: 45px;
    }
    &__btns {
        width: 250px;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 45px;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}